# TYPES OF VARIABLES

In [1]:
1+1

2

In [2]:
1*2

2

In [3]:
10/2

5.0

In [4]:
type(True)

bool

In [5]:
type(10/2)

float

In [6]:
10 * 'str'

'strstrstrstrstrstrstrstrstrstr'

In [7]:
10 ** 2

100

# STRINGS

In [8]:
"Aarav Raut"

'Aarav Raut'

In [9]:
'Aarav Raut'

'Aarav Raut'

In [10]:
type('Sasmita')

str

# VARIABLE ASSIGNMENT

In [11]:
a=10
type(a)

int

In [12]:
a='Sasmita'
type(a)

str

In [13]:
a=10
b=20

print(a/b)
print(a*b)
print(a%b)

0.5
200
10

In [14]:
len('Aarav Raut')

10

In [15]:
a=[1,2,3,4,5]
type(a)

list

# STRINGS

In [44]:
my_str='sasmitapatra123'

In [45]:
my_str

'sasmitapatra123'

In [40]:
my_str.lower()

'sasmita patra123'

In [28]:
my_str.center(10 , '_')

'SasmitaPatra123'

In [29]:
my_str.isalnum()

True

In [38]:
my_str.istitle()

True

In [46]:
my_str.islower()

True

In [48]:
my_str.endswith('3')

True

In [49]:
my_str.startswith('s')

True

In [50]:
my_str.startswith('S')

False

# LOGICAL OPERATORS

In [51]:
True or False

True

In [52]:
True and False

False

In [59]:
str_eg='Hello'

str_eg.isalpha() or my_str1.isalnum()

True

# LIST , SETS , DICTIONARY, TUPLES

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table. It is defined by having values within curly brackets { _ }

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.It is defined by having values within curly brackets { _ }

Tuple is non mutable . Once the elements are defined, you cannot change the elements within. it is represented within round brackets ( _ ). Tuples are used in such application where the definition of that item is required just once.

# LIST
Uses square brackets []

In [60]:
type([])

list

In [61]:
lst_example=[]
type(lst_example)

list

In [62]:
lst=list()
type(lst)

list

In [65]:
lst=['Maths','Chem',100,200,300]
print(lst)
type(lst)

['Maths', 'Chem', 100, 200, 300]

list

In [66]:
len(lst)

5

# LIST-APPEND func

In [67]:
lst.append("Sasmita")

In [68]:
lst

['Maths', 'Chem', 100, 200, 300, 'Sasmita']

In [69]:
lst[5]

'Sasmita'

In [70]:
lst[2:]

[100, 200, 300, 'Sasmita']

In [71]:
lst[:-2]

['Maths', 'Chem', 100, 200]

In [72]:
lst[:]

['Maths', 'Chem', 100, 200, 300, 'Sasmita']

In [74]:
lst[2:5]

[100, 200, 300]

In [75]:
lst.append(["Aarav","Ranjan"])

In [76]:
lst

['Maths', 'Chem', 100, 200, 300, 'Sasmita', ['Aarav', 'Ranjan']]

In [79]:
lst.remove("Maths")

In [80]:
lst

['Chem', 100, 200, 300, 'Sasmita', ['Aarav', 'Ranjan']]

# LIST- INSERT FUNCTION

In [82]:
lst.insert(0,"Maths")
lst

['Maths', 'Chem', 100, 200, 300, 'Sasmita', ['Aarav', 'Ranjan']]

In [83]:
lst.append(["Hello","World"])
lst

['Maths',
 'Chem',
 100,
 200,
 300,
 'Sasmita',
 ['Aarav', 'Ranjan'],
 ['Hello', 'World']]

# LIST - EXTEND FUNC

In [84]:
lst.extend(["Chrysalis","High"])
lst

['Maths',
 'Chem',
 100,
 200,
 300,
 'Sasmita',
 ['Aarav', 'Ranjan'],
 ['Hello', 'World'],
 'Chrysalis',
 'High']

In [94]:
import numpy as np
lst_num=[5,3,4,1,2]
print(sum(lst_num))
print(np.mean(lst_num))
print(np.var(lst_num))
print(np.std(lst_num))

15
3.0
2.0
1.4142135623730951

In [95]:
lst_num.extend([6,7,8,10,9])
lst_num

[5, 3, 4, 1, 2, 6, 7, 8, 10, 9]

# LIST- POP FUNC

In [99]:
lst.pop(6)

['Aarav', 'Ranjan']

In [100]:
lst_num.pop(6)

8

In [101]:
print(lst)
print(lst_num)

['Maths', 'Chem', 100, 200, 300, 'Sasmita', ['Hello', 'World'], 'Chrysalis', 'High']
[5, 3, 4, 1, 2, 6, 10, 9]

# LIST- COUNT FUNC

In [116]:
lst_num=[5,5,5,1,2,1,4,5]
lst_num.count(5)

4

In [110]:
len(lst_num)

8

In [111]:
min(lst_num)

1

In [112]:
max(lst_num)

5


# LIST - INDEX and COUNT FUNC

In [117]:
lst_num.index(1,2,8)

3

In [118]:
lst_num.count(1)

2

In [144]:
##List gets appended when list multiplies with a number

lst_num *2

[5, 5, 5, 1, 2, 1, 4, 5, 5, 5, 5, 1, 2, 1, 4, 5]

# SETS
Uses curly brackets {}

In [121]:
set_var=set()
print (set_var)
print(type(set_var))

set()
<class 'set'>

In [122]:
set_var={"a","b","c"}
print (set_var)

{'b', 'a', 'c'}

In [124]:
set_var={1,2,3,4,3}
set_var

{1, 2, 3, 4}

In [126]:
#indexing in sets not available

set_var[0]

TypeError: 'set' object does not support indexing

In [128]:
set_var["a"]

TypeError: 'set' object is not subscriptable

# SET - ADD FUNC

In [129]:
set_var.add("d")

In [130]:
set_var

{1, 2, 3, 4, 'd'}

# SET - POP FUNC
Pop removes the first element from set unlike list which removes the last element from list

In [132]:
set_var.pop()

1

In [133]:
set_var

{2, 3, 4, 'd'}

# SET - DIFFERENCE and DIFFERENCE_UPDATE FUNC

In [134]:
set1={"a","b","c","d","e","f"}
set2={"a","b","c","d"}
print(set1)
print(set2)

{'b', 'd', 'f', 'a', 'c', 'e'}
{'b', 'a', 'c', 'd'}

In [136]:
set1.difference(set2)

{'e', 'f'}

In [137]:
set1.difference_update(set2)

In [138]:
set1

{'e', 'f'}

In [139]:
set2

{'a', 'b', 'c', 'd'}

# SET - INTERSECTION and INTERSECTION_UPDATE FUNC

In [140]:
set1={"a","b","c","d","e","f"}
set2={"a","b","c","d"}
print(set1)
print(set2)

{'b', 'd', 'f', 'a', 'c', 'e'}
{'b', 'a', 'c', 'd'}

In [141]:
set1.intersection(set2)

{'a', 'b', 'c', 'd'}

In [142]:
set1.intersection_update(set2)

In [143]:
print(set1)
print(set2)

{'b', 'a', 'c', 'd'}
{'b', 'a', 'c', 'd'}

# DICTIONARY

In [147]:
dict={}

In [149]:
type(dict)

type

In [150]:
type({})

dict

In [155]:
d=dict()
type(d)

dict

In [154]:
print(type(d))

<class 'dict'>

In [156]:
## Let create a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

In [160]:
## Access the items  - Indexing the dictionary uses key values not any numeric values
my_dict["Car1"]

'Audi'

In [162]:
# Retrieving only the keys
for x in my_dict:
    print(x)

Car1
Car2
Car3

In [163]:
# Retrieving only the values

for y in my_dict.values():
    print (y)

Audi
BMW
Mercidies Benz

In [164]:
# Retrieving both key-value pairs

for z in my_dict.items():
    print(z)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [165]:
# Adding Items in dictionaries

my_dict['Car4']="Porche"
my_dict['Car5']="Jaguar"

In [166]:
my_dict

{'Car1': 'Audi',
 'Car2': 'BMW',
 'Car3': 'Mercidies Benz',
 'Car4': 'Porche',
 'Car5': 'Jaguar'}

In [170]:
# Updating existing value and adding new value
my_dict.update(Car5='Lambhorgini', Car6='Porshe')

my_dict

{'Car1': 'Audi',
 'Car2': 'BMW',
 'Car3': 'Mercidies Benz',
 'Car4': 'Porche',
 'Car5': 'Lambhorgini',
 'Car6': 'Porshe'}

# TUPLES

In [171]:
type(())

tuple

In [172]:
t=()

In [173]:
type(t)

tuple

In [174]:
t=tuple()
type(t)

tuple

In [175]:
t

()

In [176]:
my_tuple=("Sash", "Pink","Patra")
my_tuple

('Sash', 'Pink', 'Patra')

In [177]:
#Indexing and retreiving the data elements

my_tuple[0]

'Sash'

In [178]:
# ELements cannot get replaced in a tuple but the whole tuple can .

my_tuple[0]="Raut"

TypeError: 'tuple' object does not support item assignment

In [180]:
my_tuple=("Aarav","Raut","Aarav")
my_tuple

('Aarav', 'Raut', 'Aarav')

In [181]:
my_tuple.count("Aarav")

2

In [183]:
my_tuple.index("Raut")

1